.git
.github
.env
.env.*
**/.env
**/.env.*
**/node_modules
**/.next
**/dist
**/out
**/coverage
**/*.log
**/*.tsbuildinfo
api_responses
backend/.gitignore
backend/README.md
backend/drizzle.config.ts
backend/tsconfig.json
docs
frontend
GameDataAPIs.txt
LICENSE
README.md
